@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  --color-primary: hsl(217, 19%, 35%);
  --color-secondary: hsl(214, 17%, 51%);
  --color-gray: hsl(212, 23%, 69%);
  --color-light: hsl(210, 46%, 95%);
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  max-width: 800px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left_side {
  flex: 0 0 300px;
  overflow: hidden;
}

.left_side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right_side {
  flex: 1;
  padding: 40px;
}

.right_side h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 15px;
  line-height: 1.4;
}

.right_side p {
  color: var(--color-secondary);
  line-height: 1.6;
  margin-bottom: 25px;
}

.left_right {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-top: 20px;
}
.details {
  display: flex;
  flex-direction: column;
}
.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.name {
  font-weight: 600;
  color: var(--color-primary);
}

.date {
  color: var(--color-gray);
  font-size: 0.8rem;
  font-weight: 500;
}

.right img {
  width: 35px;
  height: 35px;
  padding: 10px;
  background: var(--color-light);
  border-radius: 50%;
  cursor: pointer;
}

.right img:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}
